<table class="table">
    <thead>
      <tr>
        <th scope="col">Numéro du concert</th>
        <th scope="col">Nom du concert</th>
        <th scope="col">Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let concert of listeConcert | async">
        <th scope="row">{{concert.num}}</th>
        <td>{{concert.nom}}</td>
        <td>{{concert.date}}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="getConcertByNum(concert.num)">Modifier</button>
          <button type="button" class="btn btn-danger" (click)="supprimer(concert.num)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>